--
-- PostgreSQL database dump
--

\restrict 3bq0PyEt6VzvWyFE2yBYiYJNEWGp31Z53aYCZOt1NADq9kx6bMiNCgZYLL921Yg

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public."User" DISABLE TRIGGER ALL;



ALTER TABLE public."User" ENABLE TRIGGER ALL;

--
-- Data for Name: BonusMilestoneClaim; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."BonusMilestoneClaim" DISABLE TRIGGER ALL;

INSERT INTO public."BonusMilestoneClaim" (id, "userId", threshold, "claimedAt") VALUES ('cmrowlfif000iywuzaior3976', 'cmrd4qln9000h9guzejh1h2yj', 10, '2026-07-17 12:17:48.999');
INSERT INTO public."BonusMilestoneClaim" (id, "userId", threshold, "claimedAt") VALUES ('cmrowlkdy000jywuzlkisz09s', 'cmrd4qln9000h9guzejh1h2yj', 25, '2026-07-17 12:17:55.318');


ALTER TABLE public."BonusMilestoneClaim" ENABLE TRIGGER ALL;

--
-- Data for Name: Season; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Season" DISABLE TRIGGER ALL;

INSERT INTO public."Season" (id, name, theme, status, "startsAt", "endsAt", "createdAt", "updatedAt") VALUES ('cmrd4qlip00009guz9zfelcne', 'Season 1', 'Anime', 'ACTIVE', NULL, NULL, '2026-07-09 06:32:32.881', '2026-07-24 05:22:05.866');
INSERT INTO public."Season" (id, name, theme, status, "startsAt", "endsAt", "createdAt", "updatedAt") VALUES ('cmrd4qljq00019guz3y5xnd3s', 'Season 2', 'Memes', 'PLANNED', NULL, NULL, '2026-07-09 06:32:32.918', '2026-07-24 05:22:05.903');
INSERT INTO public."Season" (id, name, theme, status, "startsAt", "endsAt", "createdAt", "updatedAt") VALUES ('cmrd4qlju00029guza8xksbbv', 'Season 3', 'Games', 'PLANNED', NULL, NULL, '2026-07-09 06:32:32.922', '2026-07-24 05:22:05.907');


ALTER TABLE public."Season" ENABLE TRIGGER ALL;

--
-- Data for Name: CardSet; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."CardSet" DISABLE TRIGGER ALL;

INSERT INTO public."CardSet" (id, name, emoji, theme, "rewardText", "seasonId", "createdAt", "updatedAt") VALUES ('cmrd4qlka00039guz9n97kelr', 'Naruto', 'ЁЯНе', 'Naruto', '╨Ч╨░╨▓╨╡╤А╤И╤Ц╤В╤М ╨║╨╛╨╗╨╡╨║╤Ж╤Ц╤О Naruto, ╤Й╨╛╨▒ ╨╛╤В╤А╨╕╨╝╨░╤В╨╕ ╨╡╨║╤Б╨║╨╗╤О╨╖╨╕╨▓╨╜╤Г ╤А╨░╨╝╨║╤Г ╨║╨░╤А╤В', 'cmrd4qlip00009guz9zfelcne', '2026-07-09 06:32:32.938', '2026-07-24 05:22:05.922');


ALTER TABLE public."CardSet" ENABLE TRIGGER ALL;

--
-- Data for Name: Card; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Card" DISABLE TRIGGER ALL;

INSERT INTO public."Card" (id, name, rarity, "seasonId", "cardSetId", "basePower", health, "imageUrl", "evolutionLevel", "createdAt", "updatedAt") VALUES ('cmrd4qlkn00049guzls6xhroe', '╨Э╨░╤А╤Г╤В╨╛ ╨г╨╖╤Г╨╝╨░╨║╤Ц', 'LEGENDARY', 'cmrd4qlip00009guz9zfelcne', 'cmrd4qlka00039guz9n97kelr', 4200, 7000, '../photo/Naruto/Naruto.webp', 1, '2026-07-09 06:32:32.951', '2026-07-24 05:22:05.933');
INSERT INTO public."Card" (id, name, rarity, "seasonId", "cardSetId", "basePower", health, "imageUrl", "evolutionLevel", "createdAt", "updatedAt") VALUES ('cmrd4qlkw00059guz5dmpeowz', '╨б╨░╤Б╨║╨╡ ╨г╤З╤Ц╤Е╨░', 'EPIC', 'cmrd4qlip00009guz9zfelcne', 'cmrd4qlka00039guz9n97kelr', 3400, 5600, '../photo/Naruto/Sasuke.jpg', 1, '2026-07-09 06:32:32.96', '2026-07-24 05:22:05.942');
INSERT INTO public."Card" (id, name, rarity, "seasonId", "cardSetId", "basePower", health, "imageUrl", "evolutionLevel", "createdAt", "updatedAt") VALUES ('cmrd4qll500069guzlkxo9kxk', '╨б╨░╨║╤Г╤А╨░ ╨е╨░╤А╤Г╨╜╨╛', 'RARE', 'cmrd4qlip00009guz9zfelcne', 'cmrd4qlka00039guz9n97kelr', 1800, 3200, '../photo/Naruto/Sakura.webp', 1, '2026-07-09 06:32:32.969', '2026-07-24 05:22:05.955');


ALTER TABLE public."Card" ENABLE TRIGGER ALL;

--
-- Data for Name: CardEvolution; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."CardEvolution" DISABLE TRIGGER ALL;



ALTER TABLE public."CardEvolution" ENABLE TRIGGER ALL;

--
-- Data for Name: CardInstance; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."CardInstance" DISABLE TRIGGER ALL;

INSERT INTO public."CardInstance" (id, "ownerId", "cardId", rank, copies, "isLocked", "acquiredAt") VALUES ('cmrd52frb002woouzy1mgrnmb', 'cmrd4qln9000h9guzejh1h2yj', 'cmrd4qllc00079guzyyx64oq9', 'NORMAL', 1, false, '2026-07-09 06:41:45.287');
INSERT INTO public."CardInstance" (id, "ownerId", "cardId", rank, copies, "isLocked", "acquiredAt") VALUES ('cmreqo3zk000it0uzseepw7se', 'cmreqo3yr000ht0uz9oh9gw7z', 'cmrd4qlkn00049guzls6xhroe', 'NORMAL', 1, false, '2026-07-10 09:34:14.576');
INSERT INTO public."CardInstance" (id, "ownerId", "cardId", rank, copies, "isLocked", "acquiredAt") VALUES ('cmreqo3zw000jt0uzbr4af1ow', 'cmreqo3yr000ht0uz9oh9gw7z', 'cmrd4qlkw00059guz5dmpeowz', 'SHINY', 1, false, '2026-07-10 09:34:14.588');


ALTER TABLE public."CardInstance" ENABLE TRIGGER ALL;

--
-- Data for Name: Clan; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Clan" DISABLE TRIGGER ALL;

INSERT INTO public."Clan" (id, name, tag, description, banner, "seasonId", "weeklyScore", "totalCards", "bankDust", "createdAt", "updatedAt", "maxMembers", "isStarter", level) VALUES ('cmrd4qlmx000f9guzvdtf8yog', 'Dust Syndicate', 'DST', 'Economy and trading', NULL, NULL, 0, 0, 0, '2026-07-09 06:32:33.033', '2026-07-24 05:22:06.017', 20, true, 1);
INSERT INTO public."Clan" (id, name, tag, description, banner, "seasonId", "weeklyScore", "totalCards", "bankDust", "createdAt", "updatedAt", "maxMembers", "isStarter", level) VALUES ('cmrd4qln1000g9guzv800oltr', 'Night Circuit', 'NCT', 'Season events and quest pushes', NULL, NULL, 0, 0, 0, '2026-07-09 06:32:33.037', '2026-07-24 05:22:06.021', 20, true, 1);
INSERT INTO public."Clan" (id, name, tag, description, banner, "seasonId", "weeklyScore", "totalCards", "bankDust", "createdAt", "updatedAt", "maxMembers", "isStarter", level) VALUES ('cmrd4qlmr000e9guzwwu1jk9i', 'Shadow Legion', 'SLG', 'Clan wars and boss farming', NULL, NULL, 2500, 120, 5000, '2026-07-09 06:32:33.027', '2026-07-24 05:22:06.012', 20, true, 1);


ALTER TABLE public."Clan" ENABLE TRIGGER ALL;

--
-- Data for Name: ClanMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ClanMember" DISABLE TRIGGER ALL;

INSERT INTO public."ClanMember" (id, "clanId", "userId", role, "joinedAt", "contributionScore") VALUES ('cmrk92w0x000jt0uz3lcsm4vm', 'cmrd4qlmr000e9guzwwu1jk9i', 'cmrd4qln9000h9guzejh1h2yj', 'LEADER', '2026-07-14 06:08:28.065', 0);


ALTER TABLE public."ClanMember" ENABLE TRIGGER ALL;

--
-- Data for Name: ClanQuest; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ClanQuest" DISABLE TRIGGER ALL;

INSERT INTO public."ClanQuest" (id, "clanId", title, progress, target, "rewardText", "completedAt", "createdAt", "updatedAt", type) VALUES ('cmrstqfeq000qlsuz7m8vu08y', 'cmrd4qlmr000e9guzwwu1jk9i', '╨Ч╨┤╨╛╨▒╤Г╨┤╤М╤В╨╡ ╤А╨░╨╖╨╛╨╝ 500 ╨║╨░╤А╤В╨╛╨║', 4, 500, '+50 000 ╨║╨╛╤Ц╨╜╤Ц╨▓ ╤Г ╨║╨░╨╖╨╜╤Г ╨║╨╗╨░╨╜╤Г', NULL, '2026-07-20 06:08:48.002', '2026-07-24 05:18:22.044', 'CARDS');


ALTER TABLE public."ClanQuest" ENABLE TRIGGER ALL;

--
-- Data for Name: ClanWar; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ClanWar" DISABLE TRIGGER ALL;



ALTER TABLE public."ClanWar" ENABLE TRIGGER ALL;

--
-- Data for Name: ClanWarParticipant; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ClanWarParticipant" DISABLE TRIGGER ALL;



ALTER TABLE public."ClanWarParticipant" ENABLE TRIGGER ALL;

--
-- Data for Name: DailyRewardClaim; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."DailyRewardClaim" DISABLE TRIGGER ALL;



ALTER TABLE public."DailyRewardClaim" ENABLE TRIGGER ALL;

--
-- Data for Name: Location; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Location" DISABLE TRIGGER ALL;

INSERT INTO public."Location" (id, name, emoji, "maxHp", "currentHp", "controllingClanId", "lastPayoutAt", "updatedAt") VALUES ('cmrstphac000ilsuzekdggrhw', '╨Ч╨╡╨╝╨╗╤Ц ╨Т╤Ц╤В╤А╤Ц╨▓', 'ЁЯМмя╕П', 1000000, 1000000, NULL, '2026-07-20 06:08:03.78', '2026-07-20 06:08:03.78');
INSERT INTO public."Location" (id, name, emoji, "maxHp", "currentHp", "controllingClanId", "lastPayoutAt", "updatedAt") VALUES ('cmrstphai000jlsuzorxm53al', '╨з╨╛╤А╨╜╤Ц ╨Т╨╛╨┤╨╕', 'ЁЯМК', 1000000, 1000000, NULL, '2026-07-20 06:08:03.786', '2026-07-20 06:08:03.786');
INSERT INTO public."Location" (id, name, emoji, "maxHp", "currentHp", "controllingClanId", "lastPayoutAt", "updatedAt") VALUES ('cmrstphap000klsuzg7684bbk', '╨в╨░╤Ф╨╝╨╜╤Ц ╨Ч╨╡╨╝╨╗╤Ц', 'ЁЯМ▓', 1000000, 1000000, NULL, '2026-07-20 06:08:03.793', '2026-07-20 06:08:03.793');


ALTER TABLE public."Location" ENABLE TRIGGER ALL;

--
-- Data for Name: PityCounter; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."PityCounter" DISABLE TRIGGER ALL;



ALTER TABLE public."PityCounter" ENABLE TRIGGER ALL;

--
-- Data for Name: QuestProgress; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."QuestProgress" DISABLE TRIGGER ALL;

INSERT INTO public."QuestProgress" (id, "userId", "questId", "periodKey", progress, completed, "claimedAt") VALUES ('cmritp0zx000k0suzjsldfr8g', 'cmrd4qln9000h9guzejh1h2yj', 'win_1_arena', '2026-07-13', 1, true, '2026-07-13 06:10:41.046');
INSERT INTO public."QuestProgress" (id, "userId", "questId", "periodKey", progress, completed, "claimedAt") VALUES ('cmritph2j000n0suzp6cgb4la', 'cmrd4qln9000h9guzejh1h2yj', 'craft_1_card', '2026-07-13', 1, true, '2026-07-13 06:10:42.495');
INSERT INTO public."QuestProgress" (id, "userId", "questId", "periodKey", progress, completed, "claimedAt") VALUES ('cmritwphq000isouz0gtllvv1', 'cmrd4qln9000h9guzejh1h2yj', 'claim_3_cards', '2026-07-13', 3, true, '2026-07-13 06:48:30.684');


ALTER TABLE public."QuestProgress" ENABLE TRIGGER ALL;

--
-- Data for Name: Referral; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Referral" DISABLE TRIGGER ALL;



ALTER TABLE public."Referral" ENABLE TRIGGER ALL;

--
-- Data for Name: TradeListing; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."TradeListing" DISABLE TRIGGER ALL;



ALTER TABLE public."TradeListing" ENABLE TRIGGER ALL;

--
-- Data for Name: UserAchievement; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."UserAchievement" DISABLE TRIGGER ALL;



ALTER TABLE public."UserAchievement" ENABLE TRIGGER ALL;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public._prisma_migrations DISABLE TRIGGER ALL;

INSERT INTO public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) VALUES ('e4d5e1cc-50ec-4aaf-b819-c7af8a20d39b', '46699632fba615b860a04470bf8ce8a921ab06097e2d9241d7544c7fe9d22a61', '2026-07-14 06:15:55.497032+00', '20260714061555_clan_level', NULL, NULL, '2026-07-14 06:15:55.486641+00', 1);
INSERT INTO public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) VALUES ('9345b583-5142-4231-b352-9bd527de51c3', 'a84e483bb11786d1d01496f8cdfd8b8a87d9cdcf1b0fe85780bcb67af92f4b80', '2026-07-09 06:13:26.695309+00', '20260709061326_init', NULL, NULL, '2026-07-09 06:13:26.305091+00', 1);
INSERT INTO public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) VALUES ('cf424528-64d2-4288-8a2b-474ab42f1044', '7fd44028e15df03de7c06c5bf66b331a248435d2fa12a297f04a77d1133f45d5', '2026-07-10 05:13:04.845763+00', '20260710051304_user_settings', NULL, NULL, '2026-07-10 05:13:04.831661+00', 1);


ALTER TABLE public._prisma_migrations ENABLE TRIGGER ALL;

--
-- PostgreSQL database dump complete
--

\unrestrict 3bq0PyEt6VzvWyFE2yBYiYJNEWGp31Z53aYCZOt1NADq9kx6bMiNCgZYLL921Yg

